.paginated__container {
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #4455aa;
}

.paginated__container-ul {
  background-color: #eeee44;
  border-radius: 10px;
}

.paginated__container-li {
  margin: 5px;
}

#paginated__container-number {
  color: #ff0000
}