.form__container {
  display: flex;
  justify-content: center;
}

.form__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: 2em;
  padding: 2em;
}

.form__form input {
  margin: 1em 0em 0em 0em;
  padding: 1em;
  border-radius: 6px;
}
.form__form textarea {
  margin: 1em 0em 0em 0em;
  padding: 1em;
  border-radius: 6px;
}

.form__form select {
  margin: 1em 0em 0em 0em;
  padding: 2px;
  border-radius: 6px;
}

#form__form-submit {
  padding: 1em;
  background-color: #66bb66;
  border: 3px solid #44aa44;
  border-radius: 6px;
}

#form__form-submit:disabled {
  padding: 1em;
  background-color: #bbbbbb;
  border: 3px solid #44aa44;
  border-radius: 6px;
}

.diets_select__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid green;
}

.diets_select__container-add {
  display: flex;
  flex-direction: row;
  padding: .5em;
  margin: .5em;
  box-sizing: border-box;
  border: 1px solid blue;
}

.diets_select__container-add button {
  margin-left: .5em ;
}
